.App {
  text-align: center;
}


.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

nav {
 
  color: rgb(66,54,45);
  background-color: whitesmoke;
  opacity: 0.89;
}
.jumbotron {
  /* margin-top: 20; */
  opacity: 0.8;
}

h1 {
  color: rgb(66,54,45);
}
h2 {
  margin: 2%;;
}
#searchBtn {
  margin-left: 1%;
  color: rgb(66,54,45);
  background-color: whitesmoke;
  opacity: 0.89;
 
}
.btn {

  margin-left: 1%;
}

.row {
margin: 3%;
}

.bar {
  max-width: 90%;  color: rgb(66,54,45);
  background-color: whitesmoke;
  opacity: 0.89;
}


.card {
  background-color: rgb(66, 54, 45);
  opacity: 0.89;
  color: whitesmoke;
  margin-top: 3%;
}

.card-results {
  background-color: rgb(66, 54, 45);
  opacity: 0.92;
  color: whitesmoke;
  margin: 3%;
  padding: 1%;
}


.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

form { 
  margin-right: 35%;
 margin-left: 43%;
margin-top: 100px;

  
}
